<p>Driver Name: <%= @driver.first_name + " " + @driver.last_name%> </p>
<p>Rider Name: <%= @rider.first_name + " " + @rider.last_name%></p>
<p>Trip Details</p>
<p>Origin: <%= @trip.rider_origin_loc %></p>
<p>Destination: <%= @trip.destination_loc %></p>
