// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_picture {
  background-image: image-url("pexels-photo-25349.jpg");
  height: 100%;
  width: 100%;
  position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main_login {
  opacity: 30%;
}
